/* 

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.list-hide {
  display: none;
}

.list-show {
  display: block;
} 

*/


mat-option {
  position: relative;
  left: 1em;
}

.list-hide {
  height: 0 !important; 
}

.list-show {
  height: auto !important; 
} 

