<mat-form-field appearance="fill">
  <mat-label>Toppings</mat-label>
    <!-- <input type="text" matInput placeholder="States Group" formControlName="stateGroup" required [matAutocomplete]="autoGroup">
     <mat-autocomplete #autoGroup="matAutocomplete"> -->
  <mat-select [formControl]="states" multiple>
    <mat-select-trigger>
      {{states.value ? states.value[0] : ''}}
      <span *ngIf="states.value?.length > 1" class="example-additional-selection">
        (+{{states.value.length - 1}} {{states.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>

  <mat-optgroup *ngFor="let group of stateList">
          <div>
            <!-- Checkbox del gruppo -->
          <mat-checkbox [checked]="group.selected" (change)="toggleSelection($event, group)"
            (click)="$event.stopPropagation()">
			        {{group.letter}}
		    	</mat-checkbox>
          <!-- Triangolo per l'apertura del gruppo -->
          <button mat-button (click)="expandDocumentTypes(group)">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          </div>
          <!-- Options di ogni gruppo -->
          <mat-option *ngFor="let name of group.names; let i = index;" 
             [value]="name"
             (click)="optionClicked(name, i)"
             [ngClass]="isExpandCategory[group.letter] ? 'list-show' : 'list-hide'">
            {{name}}
          </mat-option>
  </mat-optgroup>

  </mat-select>
     <!-- </mat-autocomplete> -->
</mat-form-field>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->